<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODIN | Inventory Management App</title>
</head>
<body>
    <h1>Inventory Management App</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/category/<%= category.id %>/add-item">Add New Item</a></li>
        </ul>
    </nav>
    <h2><%= category.name %></h2>
    <ul>
        <% for (let i=0; i<itemList.length; i++) { %>
            <li>
                <div>
                    <h2><%= itemList[i].name %></h2>
                    <p>Price: <%= itemList[i].price %></p>
                    <a href="/category/<%= category.id %>/edit-item/<%= itemList[i].id %>">Edit</a>
                    <a href="/category/<%= category.id %>/delete-item?id=<%= itemList[i].id %>">Delete</a>
                </div>
            </li>
        <% } %>
    </ul>
</body>
</html>